<script type="text/cms-page-config">
{
  "title": "Two Column",
  "content_elements": {
    "col1": { "title": "Column One" },
    "col2": { "title": "Column Two" }
  }
}
</script>

<h1 cms-title>Two Column</h1>

<div cms-content-editor="page.content.col1">
Column One
</div>

<div cms-content-editor="page.content.col2">
Column Two
</div>

<%= jsHarmonyCMS_integration_tag %>